
  <!-- Intro Screen -->
  <div id="introScreen" class="w-screen h-screen bg-white z-50 fixed top-0 left-0 flex justify-center items-center">
    <img src="/images/cctv.gif" alt="favicon" class="scale-75 w-40 bg-white md:scale-100">
  </div>

  <!-- Main Dashboard Content -->
  <div class="p-4 sm:ml-64 mt-16 min-h-screen">
    <div class="flex gap-5 flex-wrap">

      <!-- DVR Count Card -->
      <div class="flex flex-col md:flex-row xl:flex-col gap-5 w-full md:w-auto">
        <div class="bg-white dark:bg-gray-800 flex px-0 pl-4 gap-2 justify-center items-center rounded-md shadow w-full min-w-fit">
          <div class="h-auto flex-none flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" class="bg-blue-100 dark:bg-blue-200 rounded-full p-2" viewBox="0 0 24 24">
              <path fill="blue" d="M12 12a5 5 0 1 0 0-10a5 5 0 0 0 0 10Zm0 2c-3.33 0-10 1.67-10 5v3h20v-3c0-3.33-6.67-5-10-5Z"/>
            </svg>
          </div>
          <div class="p-4 flex flex-col justify-between">
            <div>
              <div class="text-gray-900 dark:text-white font-bold text-3xl">
                <%= total_dvrs || 0 %>
              </div>
              <p class="text-gray-700 dark:text-gray-300 text-base">Total DVRs</p>
            </div>
          </div>
        </div>

        <!-- Camera Count Card -->
        <div class="bg-white dark:bg-gray-800 flex px-0 pl-4 gap-2 justify-center items-center rounded-md shadow w-full">
          <div class="h-auto flex-none flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" class="bg-green-100 dark:bg-green-200 rounded-full p-2" viewBox="0 0 24 24">
              <path fill="green" d="M17 10.5V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1.5l4 3v-9l-4 3Z"/>
            </svg>
          </div>
          <div class="p-4 flex flex-col justify-between">
            <div>
              <div class="text-gray-900 dark:text-white font-bold text-3xl">
                <%= total_cameras || 0 %>
              </div>
              <p class="text-gray-700 dark:text-gray-300 text-base">Total Cameras</p>
            </div>
          </div>
        </div>
      </div>

      

    </div>
  </div>


  