node_modules/
**/node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.git/
.github/
.gitignore

.env
.env.*

Dockerfile
.dockerignore
docker-compose.yaml
config.nginx

test/
coverage/

.vscode/
.idea/

.prettierignore
.prettierrc.json
ecosystem.config.js
tailwind.config.js

README.md
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE

client/src/
client/public/
client/node_modules/
client/tailwind.config.js
client/postcss.config.js
client/vite.config.js
client/package.json
client/package-lock.json
client/README.md
