services:
  streamvision:
    image: codebyamrit/streamvision:stable
    container_name: streamvision_app
    expose:
      - "3000"
    env_file:
      - .env
    restart: unless-stopped
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - streamvision-net

  nginx:
    image: nginx:alpine
    container_name: streamvision_nginx
    ports:
      - "3030:80"
    volumes:
      - ./config.nginx:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - streamvision
    restart: unless-stopped
    networks:
      - streamvision-net

networks:
  streamvision-net:
